#cartContainer {
  width: 100%;
  height: 100%;
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .cartItem {
    box-sizing: border-box;
    width: 50rem;
    min-width: 40rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid darksalmon;
    margin-bottom: 1rem;
    padding: 1rem;
    input[type="checkbox"] {
      width: 1.5rem;
      height: 1.5rem;
    }
    input[type="number"] {
      all: unset;
      margin-left: 1rem;
      width: 3rem;
      height: 2rem;
      text-align: center;
      background-color: rgb(187, 224, 187);
      border-radius: 5px;
    }
    :nth-child(2) {
      width: 25rem;
    }
    :last-child {
      width: 5rem;
    }
  }
  .coupon {
    width: 15rem;
    height: 3rem;
    margin: 1rem;
    cursor: pointer;
    border: 1px solid black;
  }
  //   .rate {
  //     border: 1px solid rgb(199, 82, 28);
  //   }
  //   .amount {
  //     border: 1px solid goldenrod;
  //   }
}
